NODE_ENV=development
PORT=4000

MONGODB_URI=mongodb://manishSirohi:sirohi123@ac-0otdirl-shard-00-00.wsntmsi.mongodb.net:27017,ac-0otdirl-shard-00-01.wsntmsi.mongodb.net:27017,ac-0otdirl-shard-00-02.wsntmsi.mongodb.net:27017/cityCalls?ssl=true&replicaSet=atlas-mulnea-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Sirohi
REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=7d7a12604f8cb69b059f1e96ff9f54f21b8d013b68fb03e13250b973e9524a10dd475df597519ac58c15d426c9dbabad2b9e9049af5b91a7f2fcee0b3507e964
JWT_REFRESH_SECRET=d8db6af8ad233c525f090a59758e70bb257c409b6b3ac4cc3627be4a31cc22ce006ba5003aa4780a1e4db9fac15da655a3502fb8ce5aa4d363d3b8dcc7dbed7b
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CORS_ALLOWED_ORIGINS=http://localhost:3000

SEED_SUPER_ADMIN_EMAIL=superadmin@citycalls.local
SEED_SUPER_ADMIN_MOBILE=9999999999
SEED_SUPER_ADMIN_PASSWORD=12345678

CLOUDINARY_ENABLED=true
CLOUDINARY_CLOUD_NAME=dzxlcorcf
CLOUDINARY_API_KEY=458145198513821
CLOUDINARY_API_SECRET=gvUkzTPPxAD8DkxM2oz7NBzSZUM

SMTP_ENABLED=false
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

AISENSY_ENABLED=true
AISENSY_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjZhNTg3MjQ3MTc1ZTZjMGU3ZTViMTc3OCIsIm5hbWUiOiJDaXR5dGltZXMgSW5kaWEgQ28uIiwiYXBwTmFtZSI6IkFpU2Vuc3kiLCJjbGllbnRJZCI6IjZhNTg3MjQ3MTc1ZTZjMGU3ZTViMTc3MyIsImFjdGl2ZVBsYW4iOiJGUkVFX0ZPUkVWRVIiLCJpYXQiOjE3ODQxODEzMTl9.JWktfeeek84O22N-fSQsranVwF75_d0_qcZHAelgR1M
AISENSY_SENDER_NAME=Citytimes India Co.
AISENSY_SOURCE=citycalls
AISENSY_LOGIN_OTP_CAMPAIGN=citycalls_login_otp_api
AISENSY_COMPLETION_OTP_CAMPAIGN=citycalls_login_otp_api
AISENSY_FESTIVAL_CAMPAIGN=citycalls_festival_greeting_api
AISENSY_INDEPENDENCE_DAY_CAMPAIGN=CityCalls_Independence_Day_2026

AI_ENABLED=false
AI_PROVIDER=
GEMINI_API_KEY=
OPENAI_API_KEY=


FIREBASE_ENABLED=true
FIREBASE_SERVICE_ACCOUNT_PATH=C:\Users\Admin\Downloads\citycalls-firebase-adminsdk-fbsvc-d1c2d30c90.json
FIREBASE_SERVICE_ACCOUNT_JSON=